.nav-item {
    background-color: black;
    color: beige;
    padding: 8px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
    border: none ;
    margin-left: 25px;
}
.nav-item:hover{
    box-shadow: 3px 1px 3px rgb(32, 32, 32);
    background-color: rgb(104, 111, 211);
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;

}
