.nav-item {
    background-color: black;
    color: beige;
    padding: 8px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
    border: none ;
    margin-left: 40px;
    
}
.nav-item:hover{
    box-shadow: 3px 1px 8px rgb(20, 22, 19);
    background-color: white;
    color: black;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(131, 177, 238);

}

.img-ngo{
    height: 350px;
    width: 550px;
    border: 1px solid red; 
    border-radius: 20px;
    box-shadow: 3px 4px 9px rgb(218, 92, 92);
}
.img-ngo:hover{
    box-shadow:5px 8px 15px black;
    border-radius: 60px;
    border: none;
}
b{
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 10px;
}
.box{
    border-radius: 10px;
    box-shadow: 8px black ;
    width: 45%;
}
.bg-class{
    height: 380px;
    width: 380px;
    background-color: rgb(7, 156, 107);
    text-align: center;
    margin-left: 800px;
    border-radius: 15px;
    box-shadow: 4px 3px 6px black;
    border: 2px solid white;
   
}
.in-class{
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 3px 3px 5px black;
    padding: 5px;
    margin: auto;
    width: 65%;
}
i{
    font-size: 50px;
    color: black;
    padding: 10px;
}


